.vCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.mTopBottom {
  margin: 2% 0 2% 0;
}
.mLeftRight {
  margin: 0 2% 0 2%;
}
.cBGrayTNavy {
  background-color: #a5acaf;
  color: #002244;
}
.cBGreenTNavy {
  background-color: #69be28;
  color: #002244;
}
.cBNavyTGreen {
  background-color: #002244;
  color: #69be28;
}
.cBNavyTGray {
  background-color: #002244;
  color: #a5acaf;
}
.rowNWHVCenter {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  align-self: center;
  align-items: center;
}
.rowWHVCenter {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-self: center;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.open-button {
  cursor: pointer;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  z-index: 99006;
  bottom: 0px;
  right: 15px;
  border: 3px solid #69be28;
  background-color: #002244;
  color: #a5acaf;
  max-height: 75vh;
  overflow-y: scroll;
}
.form-popup p {
  font-size: 1.5rem;
}
.form-popup li {
  font-weight: bold;
  background-color: #002244;
  color: #a5acaf;
  font-size: 1.5rem;
}
.form-popup a {
  font-weight: bold;
  background-color: #002244;
  color: #a5acaf;
  font-size: 1.5rem;
}
.form-popup h3 {
  font-size: 2rem;
}
.form-container {
  /* Add styles to the form container */
  max-width: 300px;
  padding: 10px;
  background-color: #002244;
}
.form-container .details,
.form-container .show,
.form-container .hide:target {
  display: none;
}
.form-container .hide:target + .show,
.form-container .hide:target ~ .details {
  display: block;
}
/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #a5acaf;
  color: #002244;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #a5acaf;
  color: #002244;
  outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0 0 10px 0;
  opacity: 0.8;
  background-color: #69be28;
  color: #002244;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #69be28;
  color: #002244;
}
/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
#formHeading {
  border-bottom: 1px solid #69be28;
}
